@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNeue";
  src: url("/src/assets/fonts/Helvetica/HelveticaNeueBlack.otf")
    format("opentype");
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/src/assets/fonts/Helvetica/HelveticaNeueBlackItalic.otf")
    format("opentype");
  font-weight: 900; /* Black */
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/src/assets/fonts/Helvetica/HelveticaNeueHeavy.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("/src/assets/fonts/Helvetica/HelveticaNeueHeavyItalic.otf")
    format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/src/assets/fonts/Helvetica/HelveticaNeueBold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/src/assets/fonts/Helvetica/HelveticaNeueBoldItalic.otf")
    format("opentype");
  font-weight: 700; /* Black */
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/src/assets/fonts/Helvetica/HelveticaNeueMedium.otf")
    format("opentype");
  font-weight: 500; /* Black */
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/src/assets/fonts/Helvetica/HelveticaNeueMediumItalic.otf")
    format("opentype");
  font-weight: 500; /* Black */
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("/src/assets/fonts/Helvetica/HelveticaNeueLight.otf")
    format("opentype");
  font-weight: 300; /* Black */
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("/src/assets/fonts/Helvetica/HelveticaNeueLightItalic.otf")
    format("opentype");
  font-weight: 300; /* Black */
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("/src/assets/fonts/Helvetica/HelveticaNeueThin.otf")
    format("opentype");
  font-weight: 200; /* Black */
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/src/assets/fonts/Helvetica/HelveticaNeueThin.otf")
    format("opentype");
  font-weight: 200; /* Black */
  font-style: italic;
}

/* Tiempos */

@font-face {
  font-family: "Tiempos";
  src: url("/src/assets/fonts/Tiempos/TestTiemposHeadline-Bold.otf")
    format("opentype");
  font-weight: 700; /* Black */
  font-style: normal;
}

@font-face {
  font-family: "Tiempos";
  src: url("/src/assets/fonts/Tiempos/TestTiemposHeadline-BoldItalic.otf")
    format("opentype");
  font-weight: 700; /* Black */
  font-style: italic;
}
@font-face {
  font-family: "Tiempos";
  src: url("/src/assets/fonts/Tiempos/TestTiemposHeadline-Semibold.otf")
    format("opentype");
  font-weight: 600; /* Black */
  font-style: normal;
}
@font-face {
  font-family: "Tiempos";
  src: url("/src/assets/fonts/Tiempos/TestTiemposHeadline-SemiboldItalic.otf")
    format("opentype");
  font-weight: 600; /* Black */
  font-style: italic;
}
@font-face {
  font-family: "Tiempos";
  src: url("/src/assets/fonts/Tiempos/TestTiemposHeadline-Medium.otf")
    format("opentype");
  font-weight: 500; /* Black */
  font-style: normal;
}
@font-face {
  font-family: "Tiempos";
  src: url("/src/assets/fonts/Tiempos/TestTiemposHeadline-MediumItalic.otf")
    format("opentype");
  font-weight: 500; /* Black */
  font-style: italic;
}

@font-face {
  font-family: "Tiempos";
  src: url("/src/assets/fonts/Tiempos/TestTiemposHeadline-Regular.otf")
    format("opentype");
  font-weight: 400; /* Black */
  font-style: normal;
}
@font-face {
  font-family: "Tiempos";
  src: url("/src/assets/fonts/Tiempos/TestTiemposHeadline-RegularItalic.otf")
    format("opentype");
  font-weight: 400; /* Black */
  font-style: italic;
}
@font-face {
  font-family: "Tiempos";
  src: url("/src/assets/fonts/Tiempos/TestTiemposHeadline-Light.otf")
    format("opentype");
  font-weight: 300; /* Black */
  font-style: normal;
}
@font-face {
  font-family: "Tiempos";
  src: url("/src/assets/fonts/Tiempos/TestTiemposHeadline-LightItalic.otf")
    format("opentype");
  font-weight: 300; /* Black */
  font-style: italic;
}

body {
  height: 100vh;
  background-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
